<style type="text/css">
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
</style>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All <span class="caret"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    <li data-ng-repeat="item in categories">
                        <a href="#">{{item.Name}}</a>
                    </li>
                </ul>
            </div>
            <input type="text" class="form-control" placeholder="Search for..." aria-label="...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
    </div>
</div>