<form name="paymentForm" ng-submit="paymentForm.$valid && paymentCtrl.placeOrder(paymentCtrl.order.payment)" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3>Payment Info</h3>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-danger" role="alert" ng-show="paymentForm.$invalid">Please enter valid data in the Payment Form.</div>
                    <div class="alert alert-success" role="alert" ng-show="paymentForm.$valid">Payment Form appears to be valid. You can proceed with your order.</div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : paymentForm.cardNumber.$invalid && !paymentForm.cardNumber.$pristine }">
                        <label for="cardNumber">Card Number:</label>
                        <input type="text" ng-model="paymentCtrl.order.payment.CardNumber" id="cardNumber" class="form-control" name="cardNumber" placeholder="Card Number" required/>
                        <p ng-show="paymentForm.cardNumber.$invalid && !paymentForm.cardNumber.$pristine" class="help-block">Your card number is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : paymentForm.nameOnCard.$invalid && !paymentForm.nameOnCard.$pristine }">
                        <label for="nameOnCard">Name on Card:</label>
                        <input type="text" ng-model="paymentCtrl.order.payment.NameOnCard" id="nameOnCard" class="form-control" name="nameOnCard" placeholder="Name on card" required/>
                        <p ng-show="paymentForm.nameOnCard.$invalid && !paymentForm.nameOnCard.$pristine" class="help-block">Your name on card is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : paymentForm.expiration.$invalid && !paymentForm.expiration.$pristine }">
                        <label for="expiration">Expiration:</label>
                        <input type="date" ng-model="paymentCtrl.exp" id="expiration" class="form-control" name="expiration" required/>
                        <p ng-show="paymentForm.expiration.$invalid && !paymentForm.expiration.$pristine" class="help-block">Card expiration date is required.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a ui-sref="customer-info" class="btn btn-warning" role="button">
                            <span class="glyphicon glyphicon-remove"></span> Back to shipping
                        </a>
                        <button class="btn btn-primary" type="submit" ng-disabled="paymentForm.$invalid">
                            <span class="glyphicon glyphicon-ok"></span> Make an Order
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
