@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dashboard</title>

        <link href="~/Libraries/Bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="~/Libraries/Bootstrap/css/metisMenu.min.css" rel="stylesheet"/>
        <link href="~/Libraries/Bootstrap/css/timeline.css" rel="stylesheet"/>
        <link href="~/Libraries/Bootstrap/css/sb-admin-2.css" rel="stylesheet"/>
        <link href="~/Libraries/Bootstrap/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="~/Libraries/Bootstrap/css/dataTables.bootstrap.css" rel="stylesheet"/>
        <link href="~/Libraries/Bootstrap/css/dataTables.responsive.css" rel="stylesheet"/>
        <link href="~/Libraries/Toastr/toastr.min.css" rel="stylesheet"/>
    </head>
    <body>

    <div id="wrapper">
        <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index">BigRoom Admin</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="/Home/Index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-database fa-fw"></i> Resources<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/User/Index"><i class="fa fa-users fa-fw"></i> Users</a>
                            </li>
                            <li>
                                <a href="/Category/Index"><i class="fa fa-folder-open fa-fw"></i> Categories</a>
                            </li>
                            <li>
                                <a href="/Product/Index"><i class="fa fa-folder-open fa-fw"></i> Products</a>
                            </li>
                            <li>
                                <a href="/Review/Index"><i class="fa fa-folder-open fa-fw"></i> Product Reviews</a>
                            </li>
                            <li>
                                <a href="/Order/Index"><i class="fa fa-folder-open fa-fw"></i> Orders</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>

    </div>

        <!-- 3rd party libs -->
        <script src="~/Libraries/jQuery/jquery.min.js"></script>
        <script src="~/Libraries/jQuery/jquery.dataTables.min.js"></script>
        <script src="~/Libraries/knockoutjs/knockout-3.3.0.js"></script>
        <script src="~/Libraries/Bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Libraries/Bootstrap/js/metisMenu.min.js"></script>
        <script src="~/Libraries/Bootstrap/js/sb-admin-2.js"></script>
        <script src="~/Libraries/Bootstrap/js/dataTables.bootstrap.min.js"></script>
        <script src="~/Libraries/mediatorjs/mediator.js"></script>
        <script src="~/Libraries/Toastr/toastr.min.js"></script>
        <!-- main app scripts -->
        <script src="~/App/app.js"></script>
        <script src="~/App/utility.js"></script>
        <script src="~/App/serverProxy.js"></script>
        <!-- viewmodels -->
        @RenderSection("VmScripts", false)
    </body>
</html>