<!DOCTYPE html>
<html ng-app="BigRoomApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Big Room - Online Shop</title>

        <link href="~/Libraries/Bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="~/Libraries/Bootstrap/css/shop-homepage.css" rel="stylesheet"/>
        <link href="~/Libraries/Bootstrap/css/shop-item.css" rel="stylesheet"/>
        <link href="~/Libraries/Angularjs/css/loading-bar.min.css" rel="stylesheet"/>
        <link href="~/Libraries/Angularjs/css/select.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.15/toaster.min.css" rel="stylesheet" />
        <style type="text/css">
            .minicart {
                background: url(~/Libraries/Bootstrap/images/sprite.png);
                background-position: -156px 11px;
                background-repeat: no-repeat;
                width: 40px;
                height: 50px;
                padding-right: 32px;
            }
        </style>
    </head>
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="MenuController as menuCtrl">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home">Start Bootstrap</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation" class="active">
                            <a ui-sref="cart-items">
                                <span class="glyphicon glyphicon-shopping-cart"></span> <span class="badge">{{menuCtrl.counter}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-3" ng-controller="CategoriesController as categoriesCtrl">
                    <p class="lead">Shop name</p>
                    <form novalidate>
                        <div class="form-group">
                            <div class="input-group">
                                <ui-select ng-model="categoriesCtrl.category.selected" theme="bootstrap" style="width: 95%;">
                                    <ui-select-match placeholder="Search a category...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in categoriesCtrl.categories | filter: $select.search">
                                        <div data-ng-bind-html="item.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" class="close" aria-label="Close" data-ng-click="categoriesCtrl.category.selected = undefined">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div ng-controller="ProductsController as productsCtrl">
                            <div class="form-group">
                                <div class="input-group">
                                    <ui-select ng-click="productsCtrl.searchProducts(categoriesCtrl.category.selected.Id)" ng-model="productsCtrl.product.selected" theme="bootstrap" style="width: 95%;">
                                        <ui-select-match placeholder="Search a product...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item in productsCtrl.products | filter: $select.search">
                                            <div data-ng-bind-html="item.Name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" class="close" aria-label="Close" data-ng-click="productsCtrl.product.selected = undefined">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="productsCtrl.goToProduct(productsCtrl.product.selected.Id)">Go!</button>
                        </div>
                    </form>
                </div>
                <div ui-view>
                </div>
            </div>
        </div>

        <div class="container">
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Jovan Juranovic 2015</p>
                    </div>
                </div>
            </footer>
        </div>

        <!-- 3rd party libs -->
        <script src="~/Libraries/jQuery/jquery-2.1.4.min.js"></script>
        <script src="~/Libraries/Angularjs/js/angular.min.js"></script>
        <script src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
        <script src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="~/Libraries/Angularjs/js/select.min.js"></script>
        <script src="~/Libraries/Angularjs/js/angular-route.min.js"></script>
        <script src="~/Libraries/Angularjs/js/angular-sanitize.min.js"></script>
        <script src="~/Libraries/Angularjs/js/loading-bar.min.js"></script>
        <script src="~/Libraries/Bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Libraries/Angularjs/js/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.15/toaster.min.js"></script>
        <!-- Load app main scripts -->
        <script src="~/App/app.js"></script>
        <script src="~/App/config.js"></script>
        <!-- Load filters -->
        <script src="~/App/Filters/range.js"></script>
        <!-- Load services -->
        <script src="~/App/Categories/categoriesService.js"></script>
        <script src="~/App/Products/productsService.js"></script>
        <script src="~/App/Reviews/reviewService.js"></script>
        <script src="~/App/Cart/cartService.js"></script>
        <!-- Load controllers -->
        <script src="~/App/Home/indexController.js"></script>
        <script src="~/App/Home/menuController.js"></script>
        <script src="~/App/Auth/signupController.js"></script>
        <script src="~/App/Auth/loginController.js"></script>
        <script src="~/App/Categories/categoriesController.js"></script>
        <script src="~/App/Products/productsController.js"></script>
        <script src="~/App/Products/productController.js"></script>
        <script src="~/App/Products/wellController.js"></script>
        <script src="~/App/Reviews/reviewController.js"></script>
        <script src="~/App/Cart/cartController.js"></script>
        <script src="~/App/Cart/progressController.js"></script>
        <script src="~/App/Cart/customerInfoController.js"></script>
        <script src="~/App/Cart/paymentController.js"></script>
    </body>
</html>