<!DOCTYPE html>
<html data-ng-app="BigRoomApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Big Room - Online Shop</title>
    <link href="~/Libraries/Bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Libraries/Angularjs/css/loading-bar.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
<div class="container">
    <div data-ng-view="">
    </div>
</div>
    <!-- 3rd party libs -->
    <script src="~/Libraries/jQuery/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-route.min.js"></script>
    <script src="~/Libraries/Angularjs/js/loading-bar.min.js"></script>
    <script src="~/Libraries/Bootstrap/js/bootstrap.min.js"></script>
    <!-- Load app main script -->
    <script src="~/App/app.js"></script>
    <!-- Load services -->
    <script src="~/App/services/categoriesService.js"></script>
    <!-- Load controllers -->
    <script src="~/App/controllers/homeController.js"></script>
</body>
</html>